/*!
 * shengbangshenghua
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000;
  color: #fff; }

@keyframes shark {
  0% {
    margin: 0; }
  10% {
    margin: -30px 0 0 -30px; }
  20% {
    margin: -30px -30px 0 0; }
  30% {
    margin: 0 -30px -30px 0; }
  40% {
    margin: 0 0 -30px -30px; }
  50% {
    margin: 0 0 -30px -30px; }
  60% {
    margin: -10px 0 0 -10px; }
  70% {
    margin: -10px -10px 0 0; }
  80% {
    margin: 0  -10px -10px 0; }
  90% {
    margin: 0 0 -10px -10px; } }

html {
  overflow-x: hidden; }










@keyframes cube {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes comsic1 {
  100% {
    transform: rotate(360deg); } }

@keyframes comsic2 {
  100% {
    transform: rotate(-360deg); } }

@keyframes comsic3 {
  100% {
    transform: rotate(360deg); } }

.comsic-cube {
  width: 700px;
  height: 700px;
  margin: auto;
  margin-bottom: 170px;
  position: relative; }
  .comsic-cube .comsic, .comsic-cube .comsic1, .comsic-cube .comsic2, .comsic-cube .comsic3 {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -350px; }
  .comsic-cube .comsic1 {
    background-image: url("../img/s01.png");
    animation: comsic1 100s infinite linear; }
  .comsic-cube .comsic2 {
    background-image: url("../img/s02.png");
    animation: comsic2 50s infinite linear; }
  .comsic-cube .comsic3 {
    background-image: url("../img/s03.png");
    animation: comsic3 30s infinite linear; }
  .comsic-cube .cube {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: cube 10s infinite linear; }
    .comsic-cube .cube div {
      width: 80px;
      height: 80px;
      border: 3px solid #0c9c31;
      box-shadow: 0 0 80px #0c9c31;
      position: absolute;
      font-size: 42px;
      line-height: 80px;
      text-align: center;
      color: white;
      text-shadow: 0 0 20px #fff; }
      .comsic-cube .cube div:nth-of-type(1) {
        transform: translateY(-40px) rotateX(90deg); }
      .comsic-cube .cube div:nth-of-type(2) {
        transform: translateY(40px) rotateX(90deg); }
      .comsic-cube .cube div:nth-of-type(3) {
        transform: translateX(-40px) rotateY(90deg); }
      .comsic-cube .cube div:nth-of-type(4) {
        transform: translateX(40px) rotateY(90deg); }
      .comsic-cube .cube div:nth-of-type(5) {
        transform: translateZ(-40px); }
      .comsic-cube .cube div:nth-of-type(6) {
        transform: translateZ(40px); }
  .comsic-cube .text {
    width: 700px;
    height: 700px;
    color: #fff;
    position: relative; }
    .comsic-cube .text div {
      background: url("../img/left.png") no-repeat, url("../img/right.png") no-repeat right 10px;
      background-color: rgba(255, 255, 255, 0.15);
      color: #fff;
      position: absolute;
      border-radius: 2px;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      min-width: 100px; }
      .comsic-cube .text div p {
        margin-bottom: 5px; }
      .comsic-cube .text div strong {
        display: block;
        margin-top: 20px;
        font-size: 14px; }
      .comsic-cube .text div:nth-of-type(1) {
        background: url("../img/left.png") no-repeat left 75px, url("../img/right.png") no-repeat right bottom;
        background: none;
        background-color: rgba(255, 255, 255, 0.15);
        left: 50%;
        top: 60px;
        margin-left: -72px; }
        .comsic-cube .text div:nth-of-type(1)::after {
          content: ">";
          position: absolute;
          transform: rotateZ(90deg);
          bottom: -39px;
          font-size: 52px;
          left: 55px;
          font-family: serif; }
      .comsic-cube .text div:nth-of-type(2) {
        right: 90px;
        top: 200px; }
        .comsic-cube .text div:nth-of-type(2) strong {
          margin-top: 0;
          margin-bottom: 20px; }
      .comsic-cube .text div:nth-of-type(3) {
        right: 100px;
        top: 400px; }
        .comsic-cube .text div:nth-of-type(3) strong {
          margin-top: 0;
          margin-bottom: 20px; }
        .comsic-cube .text div:nth-of-type(3)::after {
          content: "";
          width: 60px;
          height: 1px;
          background: #fff;
          display: block;
          transform: rotateZ(25deg);
          position: absolute;
          top: -11px;
          left: -55px; }
      .comsic-cube .text div:nth-of-type(4) {
        background: url(../img/left.png) left 55px no-repeat, url(../img/right.png) right bottom no-repeat;
        background: none;
        background-color: rgba(255, 255, 255, 0.15);
        bottom: 80px;
        left: 50%;
        margin-left: -38.5px; }
        .comsic-cube .text div:nth-of-type(4)::after {
          content: ">";
          position: absolute;
          transform: rotateZ(-90deg);
          top: -40px;
          left: 40px;
          font-size: 52px;
          font-family: serif; }
      .comsic-cube .text div:nth-of-type(5) {
        bottom: 120px;
        left: 130px; }
        .comsic-cube .text div:nth-of-type(5) strong {
          margin-top: 0;
          margin-bottom: 20px; }
      .comsic-cube .text div:nth-of-type(6) {
        left: 110px;
        top: 200px; }
        .comsic-cube .text div:nth-of-type(6) strong {
          margin-top: 0;
          margin-bottom: 20px; }






















#banner {
  background: url(../img/bg1.jpg) no-repeat center;
  background-color: #000;
  color: #fff;
  height: 900px; }
  #banner .center {
    text-align: center;
    padding: 280px 0px; }
  #banner .title {
    margin-bottom: 80px; }
    #banner .title p {
      font-size: 24px;
      margin-bottom: 20px; }
    #banner .title .text {
      height: 72px;
      position: relative;
      margin: auto;
      margin-bottom: 20px;
      opacity: 0; }
      #banner .title .text div {
        background-image: url(../img/textleft.png);
        width: 200px;
        height: 72px;
        position: absolute; }
        #banner .title .text div:nth-of-type(2) {
          background-image: url(../img/textright.png);
          right: 0; }
  #banner .btn a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background-color: #08b573;
    width: 100px;
    display: inline-block;
    padding: 10px 0;
    margin: 15px; }
    #banner .btn a:nth-of-type(2) {
      animation: color 5s infinite linear; }

@keyframes color {
  0% {
    background-color: #84050e; }
  50% {
    background-color: #08b573; }
  100% {
    background-color: #84050e; } }

.comsic1 {
  width: 200px;
  height: 150px;
  margin: auto;
  text-align: center; }
  .comsic1 h2 {
    font-size: 35px; }
  .comsic1 div {
    margin: auto;
    width: 85px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 8px;
    margin-top: 8px; }
  .comsic1 p {
    font-size: 22px;
    color: #ccc; }

#act div {
  width: 300px;
  height: 150px; }
  #act div h2 {
    margin: 5px 0px; }

.comsic-cube {
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .comsic-cube .comsic {
    background-image: url("../img/circle.jpg");
    width: 700px;
    height: 548px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .comsic-cube .comsic .cube {
      position: relative;
      width: 80px;
      height: 80px;
      transform-style: preserve-3d;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      text-align: center;
      line-height: 80px;
      color: #fff;
      font-size: 30px;
      animation: cube 10s infinite linear; }
      .comsic-cube .comsic .cube div {
        border: 3px solid #19decd;
        box-shadow: 0 0 80px #19decd;
        width: 80px;
        height: 80px;
        position: absolute; }
      .comsic-cube .comsic .cube div:nth-of-type(1) {
        transform: translateY(-40px) rotateX(90deg); }
      .comsic-cube .comsic .cube div:nth-of-type(2) {
        transform: translateY(40px) rotateX(90deg); }
      .comsic-cube .comsic .cube div:nth-of-type(3) {
        transform: translateX(-40px) rotateY(90deg); }
      .comsic-cube .comsic .cube div:nth-of-type(4) {
        transform: translateX(40px) rotateY(90deg); }
      .comsic-cube .comsic .cube div:nth-of-type(5) {
        transform: translateZ(-40px); }
      .comsic-cube .comsic .cube div:nth-of-type(6) {
        transform: translateZ(40px); }

@keyframes cube {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

#work {
  margin: auto; }
  #work header {
    width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
    margin-top: 50px; }
    #work header .line {
      margin: auto;
      width: 80px;
      height: 5px;
      background-color: #fff;
      margin-bottom: 20px;
      margin-top: 20px; }
    #work header p {
      margin-bottom: 20px; }
  #work .wrap {
    transform: rotateX(45deg) rotateZ(45deg) translateX(40%) translateY(-200PX);
    transform-style: preserve-3d; }
    #work .wrap ul {
      width: 1080px;
      margin: auto; }
      #work .wrap ul li {
        width: 330px;
        height: 230px;
        float: left;
        margin: 15px;
        list-style: none;
        position: relative;
        transform-style: preserve-3d; }
        #work .wrap ul li a {
          width: 330px;
          height: 230px;
          display: block;
          position: absolute; }
        #work .wrap ul li:hover img {
          transform: translateZ(100px); }
        #work .wrap ul li:hover div:nth-of-type(1) {
          background-color: #ac5cfc;
          transform: translateZ(75px);
          z-index: 3;
          transition: 0.5s; }
        #work .wrap ul li:hover div:nth-of-type(2) {
          background-color: #5db4eb;
          transform: translateZ(50px);
          z-index: 2;
          transition: 0.5s; }
        #work .wrap ul li:hover div:nth-of-type(3) {
          background-color: #5debb4;
          transform: translateZ(25px);
          z-index: 1;
          transition: 0.5s; }
        #work .wrap ul li img {
          width: 330px;
          height: 230px;
          position: absolute;
          z-index: 4;
          transition: 0.5s; }
        #work .wrap ul li div {
          width: 330px;
          height: 230px;
          position: absolute;
          opacity: .5;
          transition: .5s; }

.footer {
  clear: both; }
  .footer header {
    width: 400px;
    height: 200px;
    margin: auto;
    text-align: center; }
    .footer header h2 {
      margin-bottom: 20px; }
  .footer #foot {
    width: 800px;
    margin: auto; }
    .footer #foot .footer {
      width: 800px;
      height: 800px;
      background-image: url(../img/blackhole.png);
      transform-style: preserve-3d;
      animation: foot 10s infinite linear; }
    .footer #foot .footer1 {
      position: relative;
      bottom: 800px;
      left: 0; }
      .footer #foot .footer1 div {
        width: 150px;
        height: 80px; }
      .footer #foot .footer1 div:nth-of-type(1) {
        position: relative;
        top: 330px;
        left: 50px; }
      .footer #foot .footer1 div:nth-of-type(2) {
        position: relative;
        left: 370px;
        bottom: 50px; }
      .footer #foot .footer1 div:nth-of-type(3) {
        position: relative;
        left: 650px;
        top: 165px; }
      .footer #foot .footer1 div:nth-of-type(4) {
        position: relative;
        left: 380px;
        top: 400px; }
      .footer #foot .footer1 span {
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border: 1px solid #fff;
        border-radius: 15px; }
      .footer #foot .footer1 span:nth-of-type(1) {
        position: relative;
        right: 35px;
        top: 50px; }
  .footer .ter a {
    color: #fff;
    font-size: 22px;
    display: block;
    width: 130px;
    margin: auto;
    text-decoration: none;
    padding: 10px 0px;
    text-align: center;
    background-color: aqua;
    position: relative;
    bottom: 200px; }

@keyframes foot {
  100% {
    transform: rotateZ(360deg); } }

@media(max-width:1000px){
    body{
        width: 150%;
    }
}

